<div class="container">
    <div class="sub-container">
        <h1 class="company">amcozie.in</h1>
        <div class="login-container">
            <h1>Sign in</h1>
            <span class="user-name"> <a href="">change</a></span>
            <span>Password <span class="forget-password">Forgot Password
                </span></span>
            <input />
            <span><button class="continueBtn" (click)="onsignInButtonClicked()">continue</button></span>
            <span class="keep-signIn"><input type="checkbox" /> Keep me signed in. Details </span>
            <div class="Register-header">
                <div class="divider"></div>
                <span class="ledivider">or</span>
                <div class="divider"></div>
            </div>
            <button class="otpButton" (click)="optService()">Get an Otp on your phone</button>
        </div>
    </div>
    <div class="more">
        <div class="line"></div>
    </div>
</div>