.login-content {
  padding-top: 20%;
  border: 1px black;
}

.login-border {
  justify-content: center;
  align-items: center;
}

.username-content,
.password-div,
.submit-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.submit-button button {
  background-color: #e0dfeb;
  border-radius: 10%;
  width: 120px;
}