.super-header {
  display: flex;
  height: 46px;
  background-color: #131921;
  color: white;
  cursor: pointer;
  padding: 2px;
}

.logo {
  width: 152px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo:hover {
  outline: 2px solid white;
  border-radius: 5px;
}

.location {
  flex: 0 0 200px;
}

.location:hover {
  outline: 2px solid white;
  border-radius: 5px;
}

.search-bar {
  display: flex;
  flex: 1;
  margin: 0;
  padding: 0;
}

.search-bar:hover {
  outline: 2px solid white;
  border-radius: 5px;
}

.language {
  flex: 0 0 50px;
}

.language:hover {
  outline: 2px solid white;
  border-radius: 5px;
}

.accounts {
  flex: 0 0 160px;
}

.accounts:hover {
  outline: 2px solid white;
  border-radius: 5px;
}

.orders {
  flex: 0 0 160px;
  position: relative;
  display: inline-block;
}

.orders:hover {
  outline: 2px solid white;
  border-radius: 5px;
}

.cart {
  flex: 0 0 130px;
}

.cart:hover {
  outline: 2px solid white;
  border-radius: 5px;
}

.location #location-address {
  size: 2px;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #ccc;
  height: 39px;
  margin-top: 5px;
  background-color: #FFD814;
  border-radius: 5px;
}

.all {
  display: flex;
  align-items: center;
  width: auto;
  text-align: center;
  height: 100%;
  color: black;
  background-color: rgba(255, 255, 255, 0.47);
  padding: 0 5px;
}

.input {
  flex: 1;
  height: 100%;
  border: none;
  outline: none;
  background-color: white;
}

.search-icon {
  width: 7%;
  text-align: center;
  color: black;
  margin-left: 5px;
}

.accounts:hover {
  outline: 2px solid white;
  border-radius: 5px;
}


.language {
  display: flex;
  justify-content: center;
  align-items: center;
}

.language:hover {
  outline: 2px solid white;
  border-radius: 5px;
}

.accounts {
  display: flex;
  justify-content: center;
  align-items: center;
}

.accounts:hover {
  outline: 2px solid white;
  border-radius: 5px;
}

.orders {
  display: flex;
  justify-content: center;
  align-items: center;
}

.orders:hover {
  outline: 2px solid white;
  border-radius: 5px;
}

.cart {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.cart:hover {
  outline: 2px solid white;
  border-radius: 5px;
}

.custom-icon {
  width: 50px;
  height: 40px;
  font-size: 44px;
}



.mat-menu-panel {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}