<div class="super-header">
  <div class="logo" (click)="navigateToDashboard()">
    <span>Amcozie.in</span>
  </div>
  <div class="location">
    <span id="location-address">Delivering to Hyderabad</span>
    <br />
    <mat-icon>location_on</mat-icon><span>Update Location</span>
  </div>
  <div class="search-bar">
    <div class="all">
      All
      <span class="material-symbols-outlined">arrow_drop_down</span>
    </div>
    <input class="input" type="text" placeholder="Search Products">
    <span class="search-icon">
      <span class="material-symbols-outlined">search</span>
    </span>
  </div>
  <div class="language">
    <span>language</span>
    <mat-icon>arrow_drop_down</mat-icon>
  </div>
  <div class="accounts" (click)="navigateToProfile()">
    <span>accounts</span>
    <mat-icon>arrow_drop_down</mat-icon>
    <ng-container class="toggle">
      <div class="accounts-toggle">
        <div class="first-half">
          <h3 style="font-weight: bold;">Your Lists</h3>
          <p (click)="createWishList($event)">Create a Wish List</p>
          <p (click)="wishFromAnyWebsite($event)">Wish from Any Website</p>
          <p (click)="babyWishlist($event)">Baby Wishlist</p>
          <p (click)="discoverYourStyle($event)">Discover Your Style</p>
          <p (click)="exploreShowroom($event)">Explore Showroom</p>
        </div>
        <div class="line"></div>
        <div class="second-half">
          <h3 style="font-weight: bold;">Your Account</h3>
          <p (click)="goToYourAccount($event)">Your Account</p>
          <p (click)="goToOrdersPage($event)">Your Orders</p>
          <p (click)="yourRecommendations($event)">Your Recommendations</p>
          <p (click)="yourPrimeMembership($event)">Your Prime Membership</p>
          <p (click)="yourPrimeVideo($event)">Your Prime Video</p>
          <p (click)="yourSubscribeSaveItems($event)">Your Subscribe & Save Items</p>
          <p (click)="membershipsSubscriptions($event)">Memberships & Subscriptions</p>
          <p (click)="yourSellerAccount($event)">Your Seller Account</p>
          <p (click)="contentLibrary($event)">Content Library</p>
          <p (click)="devices($event)">Devices</p>
          <p (click)="yourFreeAmazonBusinessAccount($event)">Your Free Amazon Business Account</p>
          <p (click)="switchAccounts($event)">Switch Accounts</p>
          <p (click)="signOut($event)">Sign Out</p>
        </div>
      </div>
    </ng-container>
  </div>
  


  <!-- <mat-menu #accountMenu="matMenu">
    <button mat-menu-item (click)="navigateToProfile()">Profile</button>
    <button mat-menu-item>Settings</button>
    <button mat-menu-item>Sign out</button>
  </mat-menu> -->
  <div class="orders" (click)="goToOrdersPage($event)">
    <span>orders</span>
  </div>
  <div class="cart" (click)="goToCartPage($event)">
    <mat-icon class="cartIcon custom-icon">shopping_basket</mat-icon>
    <span>cart</span>
  </div>

</div>