<div class="super-header">
  <div class="logo">
    <span>logo</span>
  </div>
  <div class="location">
    <span id="location-address">Delivering to Hyderabad</span>
    <br/>
    <mat-icon>location_on</mat-icon><span>Update Location</span>
  </div>
  <div class="search-bar" >
    <span class="all">
      All
      <mat-icon>arrow_drop_down</mat-icon>
    </span>
    <input class="input" type="text" placeholder="Serarch Products">
    <span class="search-icon">
      <mat-icon>search</mat-icon>
    </span>
  </div>
  <div class="language">
    <span>language</span>
    <mat-icon>arrow_drop_down</mat-icon>
  </div>
  <div class="accounts" [matMenuTriggerFor]="accountMenu">
    <span>accounts</span>
    <mat-icon>arrow_drop_down</mat-icon>
  </div>
  
  <mat-menu #accountMenu="matMenu">
    <button mat-menu-item (click)="navigateToProfile()">Profile</button>
    <button mat-menu-item>Settings</button>
    <button mat-menu-item>Sign out</button>
  </mat-menu>
  <div class="orders">
    <span>orders</span>
  </div>
  <div class="cart">
    <mat-icon>shopping_cart</mat-icon>
    <span>cart</span>
  </div>
</div>