.super-header {
  display: flex;
  height: 46px;
  background-color: #131921;
  color: white;
  cursor: pointer;
  padding: 3px;
  gap: 10px;
  position: relative;
}

.logo {
  width: 152px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo:hover {
  outline: 1px solid white;
  border-radius: 5px;
}

.location {
  flex: 0 0 200px;
}

.location:hover {
  outline: 1px solid white;
  border-radius: 5px;
}

.search-bar {
  display: flex;
  flex: 1;
  margin: 0;
  padding: 0;
}

.search-bar:hover {
  outline: 1px solid white;
  border-radius: 5px;
}

.language {
  flex: 0 0 30px;
}

.accounts {
  flex: 0 0 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.toggle {
  flex-direction: column;
}

.accounts:hover {
  outline: 1px solid white;
  border-radius: 5px;
}


.accounts-toggle {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  color: #131921;
  background-color: white;
  padding: 10px;
  // min-width: 200px;
  // min-height: 300px;
  z-index: 1;
  border-radius: 6px;
  border: 1px solid #ccc;
  margin: 0 0 0 0;
}

.accounts:hover .accounts-toggle {
  display: flex;
}

.accounts-toggle .first-half {
  flex: 1;
  min-width: 170px;
  max-width: fit-content;
}
.accounts-toggle .second-half {
  flex: 1;
  min-width: 250px;
  max-width: fit-content;
}

.accounts-toggle .line {
  flex: 1;
  border-top: 1px solid #e7e7e7;
}

.first-half p , .second-half p {
  margin: 0;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  font-size: 13px;
  transition: text-decoration 0.3s;
}

.first-half p:hover, .second-half p:hover {
  color: orange;
  text-decoration: underline;
}

.orders {
  flex: 0 0 60px;
  position: relative;
  display: inline-block;
}

.orders:hover {
  outline: 1px solid white;
  border-radius: 5px;
}

.cart {
  flex: 0 0 130px;
}

.cart:hover {
  outline: 1px solid white;
  border-radius: 5px;
}

.location #location-address {
  size: 1px;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #ccc;
  height: 39px;
  margin-top: 5px;
  background-color: #ca8e29;
  border-radius: 5px;
}

.all {
  display: flex;
  align-items: center;
  width: auto;
  text-align: center;
  height: 100%;
  color: black;
  background-color: #e0e0e0;
  padding: 0 5px;
}

.input {
  flex: 1;
  height: 100%;
  border: none;
  outline: none;
  background-color: white;
  font-size: 15px;
}

.search-icon {
  width: 7%;
  text-align: center;
  color: black;
  margin-left: 5px;
}


.language {
  display: flex;
  justify-content: center;
  align-items: center;
}

.language:hover {
  outline: 1px solid white;
  border-radius: 5px;
}

.orders {
  display: flex;
  justify-content: center;
  align-items: center;
}

.orders:hover {
  outline: 1px solid white;
  border-radius: 5px;
}

.cart {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.cart:hover {
  outline: 1px solid white;
  border-radius: 5px;
}

.custom-icon {
  width: 50px;
  height: 40px;
  font-size: 44px;
}

.mat-menu-panel {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}