<mat-sidenav-container class="example-container" *ngIf="toggle">
  <mat-sidenav #sidenav mode="side" opened="true" class="example-sidenav">
    <div class="close-button-container">
      <button mat-button class="closeButton" (click)="closeSidenav()">
        <mat-icon>first_page</mat-icon>
      </button>
    </div>
    <div *ngIf="navData" [ngClass]="sideNavType" class="sidenav-content">
      <div *ngFor="let item of navData">{{ item }}</div>
    </div>
  </mat-sidenav>
</mat-sidenav-container>
