.example-container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 3;
  width: 15%; /* Default width */
  scroll-behavior: unset;
}

@media (max-width: 768px) {
  .example-container {
    width: 200px;
  }
}

@media (max-width: 480px) {
  .example-container {
    width: 150px;
  }
}

// .example-container {
//   position: relative;
//   height: 100vh;
//   width: 100%;
//   background-color: #fff;
//   box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
//   display: flex;
// }

.example-sidenav {
  width: 250px;
  flex: none;
}

.close-button-container {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1000;
}

.sidenav-content {
  margin-top: 50px; /* Adjust as needed */
  padding: 10px;
}

.main-content {
  padding: 20px;
}

.all .sidenav-content div {
  background-color: rgb(34, 200, 255);
  padding: 10px;
  margin-bottom: 5px;
}

/* Styles for 'mobiles' type */
.mobiles .sidenav-content div {
  background-color: lightgreen;
  padding: 10px;
  margin-bottom: 5px;
}