.container {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    min-height: 350px;
    margin: 15px;
}

.company {
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    color: #fff;
}

.registration-container {
    display: inline-table;
    width: 300px;
    min-height: 350px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #e7e7e7;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    line-height: 19px;
    font-size: 12px;
    font-weight: bold;
}