<!-- <div *ngFor="let company of mobileProperties">
    <h3>{{ company }}</h3>
    <div class="mobile-items">
      <div *ngFor="let item of company">
        <mat-card class="matCard">
          <mat-card-header class="align-center">
            <mat-card-title>{{ item.model }}</mat-card-title>
            <mat-card-subtitle>{{ item.description }}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-footer></mat-card-footer>
        </mat-card>
      </div>
    </div>
  </div>   -->