<div class="container">
  <div class="header">
    <span style="font-weight: bold;">Electronics</span>
    <span>Mobiles & Accessories</span>
    <span>Laptops & Accessories</span>
    <span>TV & Home Entertainment</span>
    <span>Audio</span>
    <span>Cameras</span>
    <span>Computer peripherals</span>
    <span>Smart Technology</span>
    <span>Musical Instruments</span>
    <span>Office & Stationary</span>
  </div>
  <div class="container-body">
    <div class="side-bar">
      <p>Mobiles</p>
    </div>
    <div class="main-body">
      <p>Hello</p>
    </div>
  </div>
</div>