<div class="container">
  <app-electronics></app-electronics>
  <div class="container-body">
    <div class="side-bar">
      <div class="sidebar-header">
        <span>Category</span>
        <div class="sidebar-subheader">
          <span style="margin: 15px 22px;">Electronics</span>
          <div>
            <p>Accessories</p>
            <p>Camera & Photography</p>
            <p>Car & Vehicle Electronics</p>
            <p>Computer & Accessories</p>
            <p>Gps & Accessories</p>
            <p>Home Audio</p>
            <p>Home Theatre, TV & Video</p>
            <p>Mobiles & Accessories</p>
            <p>Portable Media Players</p>
            <p>Radio Communication</p>
            <p>Tablets</p>
            <p>Telephone & Accessories</p>
            <p>Warranties</p>
            <p>eBook Readers & Accessories</p>
            <p>Wearable Technology</p>
            <p>General Purpose Batteries & Battery Chargers</p>
            <p>Headphones, Earbuds & Accessories</p>
            <p>Power Accessories</p>
          </div>
        </div>
      </div>
    </div>
    <div class="outer-container">
      <div class="brand-container">
        <div class="main-page">
          <!-- <h3>{{ mobile.brand }}</h3> -->
          <div class="mat-card-container">
            <mat-card class="mat-card" *ngFor="let mobile of mobiles">
              <img mat-card-image class="matcard-image" [src]="mobile.imageLocation">
              <mat-card-content>
                <div>
                  <span>{{ mobile.name }} - {{ mobile.color }}</span>
                  <!-- <span><app-star-ratings [(rating)]="4"></app-star-ratings>
                  </span>  -->
                  <!-- Add more properties as needed -->
                  <br />
                  <div class="product-price">{{ mobile.price | rupee }} <span *ngIf="mobile.oldPrice"><s>{{
                        mobile.oldPrice }}</s></span> </div>
                  <span>FREE Delivery by Amcozie</span>
                </div>
              </mat-card-content>
              <mat-card-actions>
              <button class="add-to-cart" (click)="addToCart(mobile.id)">Add to cart</button>
              </mat-card-actions>
              <mat-card-footer>
                <!-- Footer content specific to each mobile -->
              </mat-card-footer>
            </mat-card>
          </div>
        </div>
      </div>
    </div>



  </div>
</div>