<div class="container">
    <h1>Your Account</h1>
</div>
<div class="sub-container">
    <div class="item-boxes" *ngFor="let item of profileInfo">
        <div class="mat-cards">
        <div class="left-div">
            <img [src]="item.imageLocation" alt="{{ item.name }}" />
        </div>
        <div class="right-div">
            <p>{{ item.name }}</p>
            <span>{{ item.description }}</span>
        </div>
        </div>
    </div>
</div>

<button (click)="addProduct()">Add Product</button>