.container {
    display: flex;
    align-items: center;
    // width: 100%;
    // margin: 0 auto;
    padding: 20px 20px 20px 250px;
}

.container h1 {
    flex: 1;
    font-weight: 400;
    font-size: 28px;
    line-height: 36px;
}

.sub-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 0 250px;
}

.item-boxes {
    width: calc(33.33% - 40px);
    margin: 10px;
    text-align: start;
    box-sizing: border-box;
}

.mat-cards {
    border: 1px solid #ccc;
    border-radius: 8px;
    position: relative;
    padding: 14px 18px;
    min-height: 60px;
    display: flex;
    cursor: pointer;
}

.mat-cards .left-div {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mat-cards .left-div img {
    vertical-align: top;
    max-width: 100%;
    border: 0;
}

.mat-cards .right-div {
    width: 70%;
    padding-left: 5px;
}

.mat-cards .right-div p {
    color: #111;
    font-size: 17px;
}

.mat-cards .right-div span {
    color: #565959 !important;
    box-sizing: border-box;
}
