<div class="sub-header">
  <div class="All">
    <mat-icon>menu</mat-icon>
    <span>All</span>
    <mat-icon>arrow_drop_down</mat-icon>
  </div>
  <div class="Best-Sellers">
    <span>Best Sellers</span>
  </div>
  <div class="Mobiles">
    <span>Mobiles</span>
  </div>
  <div class="Todays-Deals">
    <span>Today's Deals</span>
  </div>
  <div class="Electronics">
    <span>Electronics</span>
  </div>
  <div class="Customer-Service">
    <span>Customer Service</span>
  </div>
  <div class="Prime">
    <span>Prime</span>
    <mat-icon>arrow_drop_down</mat-icon>
  </div><div class="New-Releases">
    <span>New Releases</span>
  </div>
  <div class="Home-Kitchen">
    <span>Home & Kitchen</span>
  </div>
  <div class="Fashion">
    <span>Fashion</span>
  </div>
  <div class="Computers">
    <span>Computers</span>
  </div>
  <div class="Books">
    <span>Books</span>
  </div>
  <div class="Groceries">
    <span>Groceries</span>
  </div>
</div>