<div class="sub-header">
  <div class="All" (click)="openToggle('all')">
    <mat-icon>menu</mat-icon>
    <span>All</span>
    <mat-icon>arrow_drop_down</mat-icon>
  </div>
  <div class="Best-Sellers">
    <span>Best Sellers</span>
  </div>
  <div class="Mobiles" (click)="navigateToMobiles()">
    <span>Mobiles</span>
  </div>
  <div class="Todays-Deals">
    <span>Today's Deals</span>
  </div>
  <div class="Electronics">
    <span>Electronics</span>
    <div class="electronics-toggle">
      <p (click)="navigateToMobiles()">Mobiles</p>
      <p>Laptops</p>
      <p>Settings</p>
      <p>Sign out</p>
    </div>
  </div>  
  <div class="Customer-Service">
    <span>Customer Service</span>
  </div>
  <div class="Prime">
    <span>Prime</span>
    <mat-icon>arrow_drop_down</mat-icon>
  </div>
  <div class="New-Releases">
    <span>New Releases</span>
  </div>
  <div class="Home-Kitchen">
    <span>Home & Kitchen</span>
  </div>
  <div class="Fashion">
    <span>Fashion</span>
  </div>
  <div class="Computers">
    <span>Computers</span>
  </div>
  <div class="Books">
    <span>Books</span>
  </div>
  <div class="Groceries">
    <span>Groceries</span>
  </div>
</div>

<ng-container *ngIf="showSideNav">
  <app-side-nav [navData]="sideNavData" (close)="closeSidenav()"></app-side-nav>
</ng-container>
