.sub-header {
  display: flex;
  gap: 10px;
  background-color: #333;
  color: white;
  height: 30px;
  padding: 3px;
  cursor: pointer;
  user-select: none;
}

.item {
  display: flex;
  padding: 10px;
  margin: 25px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: white;
}

.All {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.All:hover {
  outline: 1px solid white;
  border-radius: 5px;
}

.Best-Sellers {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}

.Best-Sellers:hover {
  outline: 1px solid white;
  border-radius: 5px;
}

.Mobiles {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}

.Mobiles:hover {
  outline: 1px solid white;
  border-radius: 5px;
}

.Todays-Deals {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}

.Todays-Deals:hover {
  outline: 1px solid white;
  border-radius: 5px;
}

.Electronics {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}

.Electronics:hover {
  outline: 1px solid white;
  border-radius: 5px;
}

.Electronics .electronics-toggle {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  padding: 10px;
  min-width: 200px;
  z-index: 10;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.Electronics:hover .electronics-toggle {
  display: flex;
  flex-direction: column;
  // align-items: flex-start;
}

.Customer-Service {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}

.Customer-Service:hover {
  outline: 1px solid white;
  border-radius: 5px;
}

.Prime {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}

.Prime:hover {
  outline: 1px solid white;
  border-radius: 5px;
}

.New-Releases {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}

.New-Releases:hover {
  outline: 1px solid white;
  border-radius: 5px;
}

.Home-Kitchen {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}

.Home-Kitchen:hover {
  outline: 1px solid white;
  border-radius: 5px;
}

.Fashion {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}

.Fashion:hover {
  outline: 1px solid white;
  border-radius: 5px;
}

.Computers {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}

.Computers:hover {
  outline: 1px solid white;
  border-radius: 5px;
}

.Books {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}

.Books:hover {
  outline: 1px solid white;
  border-radius: 5px;
}

.Groceries {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}

.Groceries:hover {
  outline: 1px solid white;
  border-radius: 5px;
}

.closeButton {
  float: right;
  color: black;
}

.closeButton mat-icon {
  font-size: 24px;
}

.example-sidenav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 260px;
  background: rgba(224, 222, 222, 0.5);
}

.mat-tooltip {
  background-color: #333;
  color: white;
}