<div class="sub-header">
  <div class="All" (click)="openToggle()">
    <mat-icon>menu</mat-icon>
    <span>All</span>
    <mat-icon>arrow_drop_down</mat-icon>
  </div>
  <div class="Best-Sellers">
    <span>Best Sellers</span>
  </div>
  <div class="Mobiles">
    <span>Mobiles</span>
  </div>
  <div class="Todays-Deals">
    <span>Today's Deals</span>
  </div>
  <div class="Electronics" [matMenuTriggerFor]="electronicsMenu">
    <span>Electronics</span>
  </div>

  <mat-menu #electronicsMenu="matMenu">
    <button mat-menu-item (click)="navigateToMobiles()">Mobiles</button>
    <button mat-menu-item (click)="navigateToLaptops()">Laptops</button>
    <button mat-menu-item>Settings</button>
    <button mat-menu-item>Sign out</button>
  </mat-menu>
  <div class="Customer-Service">
    <span>Customer Service</span>
  </div>
  <div class="Prime">
    <span>Prime</span>
    <mat-icon>arrow_drop_down</mat-icon>
  </div>
  <div class="New-Releases">
    <span>New Releases</span>
  </div>
  <div class="Home-Kitchen">
    <span>Home & Kitchen</span>
  </div>
  <div class="Fashion">
    <span>Fashion</span>
  </div>
  <div class="Computers">
    <span>Computers</span>
  </div>
  <div class="Books">Books</div>

  <ng-template #tooltipTemplateRef>
    <!-- Your tooltip content here -->
  </ng-template>

  <div class="Groceries">
    <span>Groceries</span>
  </div>
</div>


<mat-sidenav-container class="example-container" *ngIf="toggle">
  <mat-sidenav #sidenav mode="side" opened="true" class="example-sidenav">
      <button mat-button class="closeButton" (click)="closeSidenav()"><mat-icon>first_page</mat-icon></button>
  </mat-sidenav>
  <mat-sidenav-content>
  </mat-sidenav-content>
</mat-sidenav-container>