.sub-header {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; 
  background-color: rgb(18 17 17);
  color: white;
  height: 30px;
}

.item {
  display: flex;
  padding: 10px;
  margin: 25px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: white;
}

.All {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}

.Best-Sellers {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}

.Mobiles {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}

.Todays-Deals {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}

.Electronics {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}

.Customer-Service {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}

.Prime {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}

.New-Releases {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}

.Home-Kitchen {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}

.Fashion {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}

.Computers{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}

.Books {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}

.Groceries {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}
