.container {
    display: flex;
    width: 100%;
    // height: 100%;
    flex-direction: column;
    user-select: none;
  }
  
  .header {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 3vh;
    background-color: transparent;
    border: 1px solid #e7e7e7;
    padding: 10px;
  }

  .header span {
    margin: 0 15px 0 15px;
    font-size: 13px;
    display: flex;
    align-items: center;
  }
  
  .header span:hover {
    cursor: pointer;
    user-select: none;
    text-decoration: underline;
    text-decoration-color: orange;
  }