<div class="container">
    <div class="header">
        <span style="font-weight: bold; text-decoration: none">Electronics</span>
        <div class="mobiles-container">
            <span class="mobiles">Mobiles & Accessories</span>
            <ng-container class="toggle">
                <div class="mobiles-toggle">
                    <div class="first-half">
                        <span (click)="createWishList($event)"><strong>Mobiles</strong></span>
                        <span (click)="wishFromAnyWebsite($event)"><strong>Mobile accessories</strong></span>
                        <span (click)="babyWishlist($event)">Baby Wishlist</span>
                        <span (click)="discoverYourStyle($event)">Screen guards</span>
                        <span (click)="exploreShowroom($event)">Power Banks</span>
                        <span (click)="exploreShowroom($event)">Headsets</span>
                        <span (click)="exploreShowroom($event)">Data Cables</span>
                        <span (click)="exploreShowroom($event)">Chargers</span>
                        <span (click)="exploreShowroom($event)">Selfie Sticks</span>
                        <span (click)="exploreShowroom($event)">Skin Stickers</span>
                        <span (click)="exploreShowroom($event)">Internal Batteries</span>
                        <span (click)="exploreShowroom($event)">Mounts & Stands</span>
                        <span (click)="exploreShowroom($event)">Lens Kits</span>
                        <span (click)="exploreShowroom($event)">Replacement Parts</span>
                    </div>
                    <div class="second-half">
                        <span (click)="createWishList($event)"><strong>Mobile brands</strong></span>
                        <span (click)="wishFromAnyWebsite($event)">Mi</span>
                        <span (click)="babyWishlist($event)">OnePlus</span>
                        <span (click)="discoverYourStyle($event)">Samsung</span>
                        <span (click)="exploreShowroom($event)">Huawei</span>
                        <span (click)="exploreShowroom($event)">Apple</span>
                        <span (click)="exploreShowroom($event)">Motorola</span>
                        <span (click)="exploreShowroom($event)">Nokia</span>
                        <span (click)="exploreShowroom($event)">Vivo</span>
                        <span (click)="exploreShowroom($event)">10.or</span>
                        <span (click)="exploreShowroom($event)">Coolpad</span>
                        <span (click)="exploreShowroom($event)">Honor</span>
                        <span (click)="exploreShowroom($event)">Lenovo</span>
                        <span (click)="exploreShowroom($event)">LG</span>
                        <span (click)="exploreShowroom($event)">Micromax</span>
                    </div>
                    <div class="third-half">
                        <span (click)="createWishList($event)"><strong>Accessories brand</strong></span>
                        <span (click)="wishFromAnyWebsite($event)">OnePlus</span>
                        <span (click)="wishFromAnyWebsite($event)">AmazonBasics</span>
                        <span (click)="wishFromAnyWebsite($event)">Intex</span>
                        <span (click)="wishFromAnyWebsite($event)">Ambrane</span>
                        <span (click)="wishFromAnyWebsite($event)">Lenovo</span>
                        <span (click)="wishFromAnyWebsite($event)">Spigen</span>
                        <span (click)="wishFromAnyWebsite($event)">Jabra</span>
                        <span (click)="wishFromAnyWebsite($event)">Apple</span>
                        <span (click)="wishFromAnyWebsite($event)">Syska</span>
                        <span (click)="wishFromAnyWebsite($event)">Boat</span>
                        <span (click)="wishFromAnyWebsite($event)">Mivi</span>
                        <span (click)="wishFromAnyWebsite($event)">iVoltaa</span>
                    </div>
                    <div class="fourth-half">
                        <img mat-card-image class="matcard-image" src="\assets\images\toggle-images\image-1.jpg">
                        <span>Mobiles</span>
                        <span>see more</span>
                    </div>
                    <div class="fifth-half">
                        <img mat-card-image class="matcard-image" src="\assets\images\toggle-images\image-2.jpg">
                        <span>Mobiles Accessories</span>
                        <span>see more</span>
                    </div>
                </div>
            </ng-container>
        </div>
        <div class="mobiles-container">
            <span class="laptops">Laptops & Accessories</span>
            <ng-container class="toggle">
                <div class="laptops-toggle">
                    <div class="first-half">
                        <span (click)="createWishList($event)"><strong>Laptops</strong></span>
                        <span (click)="wishFromAnyWebsite($event)">Thin and light laptops</span>
                        <span (click)="babyWishlist($event)">2-in-1 Laptops</span>
                        <span (click)="discoverYourStyle($event)">Gaming laptops</span>
                        <span (click)="exploreShowroom($event)">Budget laptops</span>
                        <br />
                        <span (click)="exploreShowroom($event)"><strong>Shop by brand</strong></span>
                        <span (click)="exploreShowroom($event)">Acer</span>
                        <span (click)="exploreShowroom($event)">Apple</span>
                        <span (click)="exploreShowroom($event)">Dell</span>
                        <span (click)="exploreShowroom($event)">HP</span>
                        <span (click)="exploreShowroom($event)">Lenovo</span>
                        <span (click)="exploreShowroom($event)">Microsoft Surface</span>
                        <span (click)="exploreShowroom($event)">Samsung</span>
                        <span (click)="exploreShowroom($event)">Xiaomi</span>
                        <br />
                        <span (click)="exploreShowroom($event)"><strong>Laptop Buying Guide</strong></span>
                    </div>
                    <div class="second-half">
                        <span (click)="createWishList($event)"><strong>Tablets</strong></span>
                        <span (click)="wishFromAnyWebsite($event)">Lenovo</span>
                        <span (click)="babyWishlist($event)">Apple</span>
                        <span (click)="discoverYourStyle($event)">Samsung</span>
                        <span (click)="exploreShowroom($event)">Micromax</span>
                        <span (click)="exploreShowroom($event)">iBall</span>
                        <span (click)="exploreShowroom($event)">PC Accessories</span>
                        <span (click)="exploreShowroom($event)">Keyboards</span>
                        <span (click)="exploreShowroom($event)">Mice</span>
                        <span (click)="exploreShowroom($event)">Laptop Bags</span>
                        <span (click)="exploreShowroom($event)">PC Speakers</span>
                        <span (click)="exploreShowroom($event)">Batteries</span>
                        <span (click)="exploreShowroom($event)">Cables</span>
                        <span (click)="exploreShowroom($event)">GameZone</span>
                    </div>
                    <div class="third-half">
                        <span (click)="createWishList($event)"><strong>Data storage</strong></span>
                        <span (click)="wishFromAnyWebsite($event)">Memory cards</span>
                        <span (click)="babyWishlist($event)">Pen Drives</span>
                        <span (click)="discoverYourStyle($event)">Hard Drives</span>
                        <span (click)="exploreShowroom($event)">Solid State Drives</span>
                        <span (click)="exploreShowroom($event)">Network Attached Storage</span>
                        <span (click)="exploreShowroom($event)">Shop by brand</span>
                        <span (click)="exploreShowroom($event)">Samsung</span>
                        <span (click)="exploreShowroom($event)">Sandisk</span>
                        <span (click)="exploreShowroom($event)">WD</span>
                        <span (click)="exploreShowroom($event)">Seagate</span>
                        <span (click)="exploreShowroom($event)">Strontium</span>
                        <span (click)="exploreShowroom($event)">Sony</span>
                        <span (click)="exploreShowroom($event)">HP</span>
                        <span (click)="exploreShowroom($event)">Kingston</span>
                    </div>
                    <div class="fourth-half">
                        <img mat-card-image class="matcard-image" src="\assets\images\toggle-images\image-3.jpg">
                        <span>Choose the right laptop</span>
                        <span>shop by need</span>
                    </div>
                    <div class="fifth-half">
                        <img mat-card-image class="matcard-image" src="\assets\images\toggle-images\image-4.jpg">
                        <span>High capacity memory cards</span>
                        <span>see more</span>
                    </div>
                    <div class="sixth-half">
                        <img mat-card-image class="matcard-image" src="\assets\images\toggle-images\image-5.jpg">
                        <span>High capacity hard drives</span>
                        <span>see more</span>
                    </div>
                </div>
            </ng-container>
        </div>
        <div class="mobiles-container">
            <span class="television">TV & Home Entertainment</span>
            <ng-container class="toggle">
                <div class="tv-home-toggle">
                    <div class="first-half">
                        <span (click)="createWishList($event)"><strong>Televisions</strong></span>
                        <span (click)="wishFromAnyWebsite($event)">Smart TVs</span>
                        <span (click)="babyWishlist($event)">32 inch TVs</span>
                        <span (click)="discoverYourStyle($event)">Large Screen TVs</span>
                        <span (click)="exploreShowroom($event)">4K TVs</span>
                        <span (click)="exploreShowroom($event)">Full HD TVs</span>
                        <span (click)="exploreShowroom($event)">HD Ready TVs</span>
                        <span (click)="exploreShowroom($event)">Google certified Android TVs</span>
                        <span (click)="exploreShowroom($event)">Android based TVs</span>
                        <span (click)="exploreShowroom($event)">Linux Smart TVs</span>
                        <span (click)="exploreShowroom($event)">TVs with Web OS & Tizen</span>
                    </div>
                    <div class="second-half">
                        <span (click)="createWishList($event)"><strong>Shop by Brand</strong></span>
                        <span (click)="wishFromAnyWebsite($event)">Mi</span>
                        <span (click)="babyWishlist($event)">Sony</span>
                        <span (click)="discoverYourStyle($event)">Samsung</span>
                        <span (click)="exploreShowroom($event)">LG</span>
                        <span (click)="exploreShowroom($event)">Panasonic</span>
                        <span (click)="exploreShowroom($event)">TCL</span>
                        <span (click)="exploreShowroom($event)">BPL</span>
                        <span (click)="exploreShowroom($event)">Micromax</span>
                        <span (click)="exploreShowroom($event)">Onida</span>
                        <span (click)="exploreShowroom($event)">Kodak</span>
                        <span (click)="exploreShowroom($event)">Kevin</span>
                        <span (click)="exploreShowroom($event)">OnePlus</span>
                    </div>
                    <div class="third-half">
                        <span (click)="createWishList($event)"><strong>Other Home Entertainment</strong></span>
                        <span (click)="wishFromAnyWebsite($event)">Home Theater Systems</span>
                        <span (click)="babyWishlist($event)">Projectors & Accessories</span>
                        <span (click)="discoverYourStyle($event)">Set Top Boxes</span>
                        <span (click)="exploreShowroom($event)">Streaming Media Players</span>
                        <span (click)="exploreShowroom($event)">DVD & Blu-ray Players</span>
                        <span (click)="exploreShowroom($event)">Cables</span>
                        <span (click)="exploreShowroom($event)">Audio-Video Accessories</span>
                        <span (click)="exploreShowroom($event)">All Home Entertainment Systems</span>
                    </div>
                    <div class="fourth-half">
                        <img mat-card-image class="matcard-image" src="\assets\images\toggle-images\image-6.jpg">
                        <span>Smart TV store</span>
                        <span>see more</span>
                    </div>
                    <div class="fifth-half">
                        <img mat-card-image class="matcard-image" src="\assets\images\toggle-images\image-7.jpg">
                        <span>Mobiles Accessories</span>
                        <span>Learn more</span>
                    </div>
                    <div class="sixth-half">
                        <img mat-card-image class="matcard-image" src="\assets\images\toggle-images\image-8.jpg">
                        <span>Home entertainment store</span>
                        <span>see more</span>
                    </div>
                </div>
            </ng-container>
        </div>
        <div class="mobiles-container">
            <span class="audio">Audio</span>
            <ng-container class="toggle">
                <div class="audio-toggle">
                    <div class="first-half">
                        <span (click)="createWishList($event)"><strong>Headphones</strong></span>
                        <span (click)="wishFromAnyWebsite($event)">Earphones</span>
                        <span (click)="babyWishlist($event)">On & Over Ear Headphones</span>
                        <span (click)="discoverYourStyle($event)">Wireless Headphones</span>
                        <span (click)="exploreShowroom($event)">Headphones with Mic</span>
                        <span (click)="exploreShowroom($event)">Sports Headphones</span>
                        <span (click)="exploreShowroom($event)">Noise Cancelling Headphones</span>
                        <span (click)="exploreShowroom($event)">Speakers</span>
                        <span (click)="exploreShowroom($event)">Bluetooth Speakers</span>
                        <span (click)="exploreShowroom($event)">Multimedia Speakers</span>
                        <span (click)="exploreShowroom($event)">Home Theater Systems</span>
                        <span (click)="exploreShowroom($event)">Soundbars</span>
                        <span (click)="exploreShowroom($event)">MP3 & Other Media Players</span>
                    </div>
                    <div class="second-half">
                        <span (click)="createWishList($event)"><strong>Headphones Brands</strong></span>
                        <span (click)="wishFromAnyWebsite($event)">Boat</span>
                        <span (click)="babyWishlist($event)">JBL</span>
                        <span (click)="discoverYourStyle($event)">Sony</span>
                        <span (click)="exploreShowroom($event)">Sennheiser</span>
                        <span (click)="exploreShowroom($event)">Bose</span>
                        <span (click)="exploreShowroom($event)">Boult</span>
                        <span (click)="exploreShowroom($event)">Noise</span>
                        <span (click)="exploreShowroom($event)">Leaf</span>
                        <span (click)="exploreShowroom($event)">Philips</span>
                        <span (click)="exploreShowroom($event)">Ant Audio</span>
                        <span (click)="exploreShowroom($event)">Blaupunkt</span>
                        <span (click)="exploreShowroom($event)">OnePlus</span>
                        <span (click)="exploreShowroom($event)">Premium Audio Store</span>
                    </div>
                    <div class="third-half">
                        <span (click)="createWishList($event)"><strong>Speaker Brands</strong></span>
                        <span (click)="wishFromAnyWebsite($event)">JBL</span>
                        <span (click)="babyWishlist($event)">Boat</span>
                        <span (click)="discoverYourStyle($event)">Sony</span>
                        <span (click)="exploreShowroom($event)">Bose</span>
                        <span (click)="exploreShowroom($event)">F&D</span>
                        <span (click)="exploreShowroom($event)">Philips</span>
                        <span (click)="exploreShowroom($event)">Blaupunkt</span>
                        <span (click)="exploreShowroom($event)">Zoook</span>
                        <span (click)="exploreShowroom($event)">Mivi</span>
                        <span (click)="exploreShowroom($event)">Saregama</span>
                        <span (click)="exploreShowroom($event)">Alexa Built-in Devices Store</span>
                    </div>
                    <div class="fourth-half">
                        <img mat-card-image class="matcard-image" src="\assets\images\toggle-images\image-9.jpg">
                        <span>Premium Audio Store</span>
                        <span>see more</span>
                    </div>
                    <div class="fifth-half">
                        <img mat-card-image class="matcard-image" src="\assets\images\toggle-images\image-10.jpg">
                        <span>Alexa Built-in Device Store</span>
                        <span>see more</span>
                    </div>
                    <div class="sixth-half">
                        <img mat-card-image class="matcard-image" src="\assets\images\toggle-images\image-11.jpg">
                        <span>Wireless Audio Store</span>
                        <span>see more</span>
                    </div>
                </div>
            </ng-container>
        </div>
        <div class="mobiles-container">
            <span class="camera">Cameras</span>
            <ng-container class="toggle">
                <div class="cameras-toggle">
                    <div class="first-half">
                        <span (click)="createWishList($event)"><strong>Cameras</strong></span>
                        <span (click)="wishFromAnyWebsite($event)">Digital SLRs</span>
                        <span (click)="babyWishlist($event)">Point & Shoot</span>
                        <span (click)="discoverYourStyle($event)">Mirrorless Cameras</span>
                        <span (click)="exploreShowroom($event)">Camcorders</span>
                        <span (click)="exploreShowroom($event)">Camera Lenses</span>
                        <span (click)="exploreShowroom($event)">Action Cameras</span>
                        <span (click)="exploreShowroom($event)">Surveillance & Security Cameras</span>
                        <span (click)="exploreShowroom($event)">360 Degree Cameras</span>
                        <span (click)="exploreShowroom($event)">Spy Cameras</span>
                    </div>
                    <div class="second-half">
                        <span (click)="createWishList($event)"><strong>Camera Accessories</strong></span>
                        <span (click)="wishFromAnyWebsite($event)">Camera Cases & Bags</span>
                        <span (click)="babyWishlist($event)">Tripods & Monopods</span>
                        <span (click)="discoverYourStyle($event)">Projectors</span>
                        <span (click)="exploreShowroom($event)">Batteries</span>
                        <span (click)="exploreShowroom($event)">Photo Studio & Lighting</span>
                        <span (click)="exploreShowroom($event)">Flash Accessories</span>
                        <span (click)="exploreShowroom($event)">Binoculars & Telescopes</span>
                    </div>
                    <div class="third-half">
                        <span (click)="createWishList($event)"><strong>Shop by Brand</strong></span>
                        <span (click)="wishFromAnyWebsite($event)">Canon</span>
                        <span (click)="babyWishlist($event)">Nikon</span>
                        <span (click)="discoverYourStyle($event)">Sony</span>
                        <span (click)="exploreShowroom($event)">FujiFilm</span>
                        <span (click)="exploreShowroom($event)">Panasonic</span>
                        <span (click)="exploreShowroom($event)">GoPro</span>
                        <span (click)="exploreShowroom($event)">Samsung</span>
                        <span (click)="exploreShowroom($event)">Pentax</span>
                        <span (click)="exploreShowroom($event)">Olympus</span>
                        <span (click)="exploreShowroom($event)">Lowepro</span>
                    </div>
                    <div class="fourth-half">
                        <img mat-card-image class="matcard-image" src="\assets\images\toggle-images\image-12.jpg">
                        <span>Digital SLRs</span>
                        <span>see more</span>
                    </div>
                    <div class="fifth-half">
                        <img mat-card-image class="matcard-image" src="\assets\images\toggle-images\image-13.jpg">
                        <span>Camera accessories</span>
                        <span>see more</span>
                    </div>'
                    <div class="sixth-half">
                        <img mat-card-image class="matcard-image" src="\assets\images\toggle-images\image-14.jpg">
                        <span>Surveillanve and Security</span>
                        <span>see more</span>
                    </div>'
                </div>
            </ng-container>
        </div>
        <div class="mobiles-container">
            <span class="computer">Computer peripherals</span>
            <ng-container class="toggle">
                <div class="computer-peripherals-toggle">
                    <div class="first-half">
                        <span (click)="createWishList($event)"><strong>Printers</strong></span>
                        <span (click)="wishFromAnyWebsite($event)">Inkjet Printers</span>
                        <span (click)="babyWishlist($event)">Ink Tank Printers</span>
                        <span (click)="discoverYourStyle($event)">Laser Printers</span>
                        <span (click)="exploreShowroom($event)">Ink & Toner</span>
                        <span (click)="exploreShowroom($event)"><strong>Shop by Brand</strong></span>
                        <span (click)="wishFromAnyWebsite($event)">HP</span>
                        <span (click)="babyWishlist($event)">Canon</span>
                        <span (click)="discoverYourStyle($event)">Epson</span>
                        <span (click)="exploreShowroom($event)">Samsung</span>
                        <span (click)="exploreShowroom($event)">Brother</span>
                        <span (click)="exploreShowroom($event)">Xerox</span>
                        <span (click)="exploreShowroom($event)">Pantum</span>
                    </div>
                    <div class="second-half">
                        <span (click)="createWishList($event)"><strong>Networking</strong></span>
                        <span (click)="wishFromAnyWebsite($event)">Routers</span>
                        <span (click)="babyWishlist($event)">Modems</span>
                        <span (click)="discoverYourStyle($event)">Data Cards & Dongles</span>
                        <span (click)="exploreShowroom($event)">Repeaters & Extenders</span>
                        <span (click)="exploreShowroom($event)">Wireless USB</span>
                        <span (click)="exploreShowroom($event)"><strong>Shop by Brand</strong></span>
                        <span (click)="wishFromAnyWebsite($event)">D-Link</span>
                        <span (click)="babyWishlist($event)">Tenda</span>
                        <span (click)="discoverYourStyle($event)">TP Link</span>
                        <span (click)="exploreShowroom($event)">Netgear</span>
                    </div>
                    <div class="third-half">
                        <span (click)="createWishList($event)"><strong>Components</strong></span>
                        <span (click)="wishFromAnyWebsite($event)">Internal HDD</span>
                        <span (click)="babyWishlist($event)">Motherboard</span>
                        <span (click)="discoverYourStyle($event)">Processors</span>
                        <span (click)="exploreShowroom($event)">Graphic Cards</span>
                        <span (click)="exploreShowroom($event)">Desktops</span>
                        <span (click)="exploreShowroom($event)">Monitors</span>
                    </div>
                    <div class="fourth-half">
                        <img mat-card-image class="matcard-image" src="\assets\images\toggle-images\image-15.jpg">
                        <span>Gamezone</span>
                        <span>see more</span>
                    </div>
                    <div class="fifth-half">
                        <img mat-card-image class="matcard-image" src="\assets\images\toggle-images\image-16.jpg">
                        <span>Router under Rs 999</span>
                        <span>see more</span>
                    </div>
                    <div class="sixth-half">
                        <img mat-card-image class="matcard-image" src="\assets\images\toggle-images\image-17.jpg">
                        <span>Best Selling Ink Tank printers</span>
                        <span>see more</span>
                    </div>
                </div>
            </ng-container>
        </div>
        <div class="mobiles-container">
            <span class="smartTechnology">Smart Technology</span>
            <ng-container class="toggle">
                <div class="smart-technology-toggle">
                    <div class="first-half">
                        <span (click)="createWishList($event)"><strong>Smart Store</strong></span>
                        <span (click)="wishFromAnyWebsite($event)">Wearable Devices</span>
                        <span (click)="babyWishlist($event)">Activity Trackers</span>
                        <span (click)="discoverYourStyle($event)">Smart Watches</span>
                        <span (click)="exploreShowroom($event)">Virtual Reality</span>
                        <span (click)="exploreShowroom($event)">Action Camera</span>
                        <span (click)="exploreShowroom($event)">Amazon Alexa Enabled Speakers</span>
                        <span (click)="exploreShowroom($event)"><strong>Activity Tracker Brands</strong></span>
                        <span (click)="wishFromAnyWebsite($event)">Mi</span>
                        <span (click)="babyWishlist($event)">Lenovo</span>
                        <span (click)="discoverYourStyle($event)">Boltt</span>
                        <span (click)="exploreShowroom($event)">Huawei</span>
                        <span (click)="exploreShowroom($event)">Goqii</span>
                        <span (click)="exploreShowroom($event)">Fitbit</span>
                    </div>
                    <div class="second-half">
                        <span (click)="createWishList($event)"><strong>Smartwatch Brands</strong></span>
                        <span (click)="wishFromAnyWebsite($event)">Samsung</span>
                        <span (click)="babyWishlist($event)">Huawei</span>
                        <span (click)="discoverYourStyle($event)">Apple</span>
                        <span (click)="exploreShowroom($event)">TCL</span>
                        <span (click)="exploreShowroom($event)">Noise</span>
                        <span (click)="exploreShowroom($event)">Garmin</span>
                        <span (click)="exploreShowroom($event)">Suunto</span>
                    </div>
                    <div class="third-half">
                        <span (click)="createWishList($event)"><strong>Smart Living Store</strong></span>
                        <span (click)="wishFromAnyWebsite($event)">Alexa Smart Home</span>
                        <span (click)="babyWishlist($event)">Smart Lights</span>
                        <span (click)="discoverYourStyle($event)">Smart Plugs</span>
                        <span (click)="exploreShowroom($event)">Smart Locks</span>
                        <span (click)="exploreShowroom($event)"><strong>Shop by Brand</strong></span>
                        <span (click)="wishFromAnyWebsite($event)">Philips Hue</span>
                        <span (click)="babyWishlist($event)">D-Link</span>
                        <span (click)="discoverYourStyle($event)">TP-Link</span>
                        <span (click)="exploreShowroom($event)">Oakter</span>
                        <span (click)="exploreShowroom($event)">Syska</span>
                    </div>
                    <div class="fourth-half">
                        <img mat-card-image class="matcard-image" src="\assets\images\toggle-images\image-18.jpg">
                        <span>Alexa Smart Home</span>
                        <span>see more</span>
                    </div>
                    <div class="fifth-half">
                        <img mat-card-image class="matcard-image" src="\assets\images\toggle-images\image-19.jpg">
                        <span>Top selling smart watches</span>
                        <span>see more</span>
                    </div>
                    <div class="sixth-half">
                        <img mat-card-image class="matcard-image" src="\assets\images\toggle-images\image-20.jpg">
                        <span>Top 10 activity trackers</span>
                        <span>see more</span>
                    </div>
                </div>
            </ng-container>
        </div>
        <div class="mobiles-container">
            <span class="muscial">Musical Instruments</span>
            <ng-container class="toggle">
                <div class="muscical-toggle">
                    <div class="first-half">
                        <span (click)="createWishList($event)"><strong>Musical Instruments</strong></span>
                        <span (click)="wishFromAnyWebsite($event)">Guitars</span>
                        <span (click)="babyWishlist($event)">Keyboards & Synthesizers</span>
                        <span (click)="discoverYourStyle($event)">Wind Instruments</span>
                        <span (click)="exploreShowroom($event)">Drums & Percussion</span>
                        <span (click)="exploreShowroom($event)">Accessories</span>
                        <span (click)="exploreShowroom($event)">Indian Instruments</span>
                        <span (click)="exploreShowroom($event)"><strong>Featured Stores</strong></span>
                        <span (click)="wishFromAnyWebsite($event)">Beginners Musical Instruments</span>
                        <span (click)="babyWishlist($event)">DJ, Stage Recording & Pro-Audio</span>
                    </div>
                    <div class="second-half">
                        <span (click)="createWishList($event)"><strong>Sound & Recording</strong></span>
                        <span (click)="wishFromAnyWebsite($event)">DJ Controllers</span>
                        <span (click)="babyWishlist($event)">Microphones</span>
                        <span (click)="discoverYourStyle($event)">Audio Interfaces</span>
                        <span (click)="exploreShowroom($event)">Studio Monitors & Speakers</span>
                        <span (click)="exploreShowroom($event)">Portable Recording Devices</span>
                        <span (click)="exploreShowroom($event)">Karaoke</span>
                    </div>
                    <div class="third-half">
                        <span (click)="createWishList($event)"><strong>Shop by Brand</strong></span>
                        <span (click)="wishFromAnyWebsite($event)">Intern</span>
                        <span (click)="babyWishlist($event)">Juarez</span>
                        <span (click)="discoverYourStyle($event)">Casio</span>
                        <span (click)="exploreShowroom($event)">Yamaha</span>
                        <span (click)="exploreShowroom($event)">RockJam</span>
                        <span (click)="exploreShowroom($event)">Kadence</span>
                        <span (click)="exploreShowroom($event)">Fender</span>
                        <span (click)="exploreShowroom($event)">Zoom</span>
                        <span (click)="exploreShowroom($event)">Blue Microphones</span>
                        <span (click)="exploreShowroom($event)">Hercules</span>
                        <span (click)="exploreShowroom($event)">Focusrite</span>
                        <span (click)="exploreShowroom($event)">Rode</span>
                        <span (click)="exploreShowroom($event)">Behringer</span>
                    </div>
                    <div class="fourth-half">
                        <img mat-card-image class="matcard-image" src="\assets\images\toggle-images\image-21.jpg">
                        <span>Beginner's store</span>
                        <span>see more</span>
                    </div>
                    <div class="fifth-half">
                        <img mat-card-image class="matcard-image" src="\assets\images\toggle-images\image-22.jpg">
                        <span>sound and recording</span>
                        <span>see more</span>
                    </div>
                    <div class="sixth-half">
                        <img mat-card-image class="matcard-image" src="\assets\images\toggle-images\image-23.jpg">
                        <span>Muscial Instruments Buying guide</span>
                    </div>
                </div>
            </ng-container>
        </div>
        <div class="mobiles-container">
            <span class="stationary">Office & Stationary</span>
            <ng-container class="toggle">
                <div class="office-stationary-toggle">
                    <div class="first-half">
                        <span (click)="createWishList($event)"><strong>Office Products</strong></span>
                        <span (click)="wishFromAnyWebsite($event)">Pens, Pencils & Writing Supplies</span>
                        <span (click)="babyWishlist($event)">Pens & Refills</span>
                        <span (click)="discoverYourStyle($event)">Pencils</span>
                        <span (click)="exploreShowroom($event)">Premium Pens</span>
                        <span (click)="exploreShowroom($event)">Highlighters</span>
                        <span (click)="exploreShowroom($event)">Permanent Markers</span>
                        <span (click)="exploreShowroom($event)"><strong>Art & Craft Supplies</strong></span>
                        <span (click)="wishFromAnyWebsite($event)">Art Markers</span>
                        <span (click)="babyWishlist($event)">Painting Supplies</span>
                        <span (click)="discoverYourStyle($event)">Crayons</span>
                        <span (click)="exploreShowroom($event)">Coloring Pens</span>
                        <span (click)="exploreShowroom($event)">Art Glues</span>
                    </div>
                    <div class="second-half">
                        <span (click)="createWishList($event)"><strong>Notebooks & Diaries</strong></span>
                        <span (click)="wishFromAnyWebsite($event)">Notebooks</span>
                        <span (click)="babyWishlist($event)">Paper</span>
                        <span (click)="discoverYourStyle($event)">Drawing Pads</span>
                        <span (click)="exploreShowroom($event)">Calculators</span>
                        <span (click)="exploreShowroom($event)"><strong>Office Supplies</strong></span>
                        <span (click)="wishFromAnyWebsite($event)">Shredders</span>
                        <span (click)="babyWishlist($event)">Note Counting Machines</span>
                        <span (click)="discoverYourStyle($event)">Staplers & Punches</span>
                        <span (click)="exploreShowroom($event)">Files & Folders</span>
                    </div>
                    <div class="third-half">
                        <span (click)="createWishList($event)"><strong>Shop by Brand</strong></span>
                        <span (click)="wishFromAnyWebsite($event)">Parker</span>
                        <span (click)="babyWishlist($event)">Casio</span>
                        <span (click)="discoverYourStyle($event)">GBC</span>
                        <span (click)="exploreShowroom($event)">Faber Castell</span>
                        <span (click)="exploreShowroom($event)">Camlin</span>
                        <span (click)="exploreShowroom($event)">Waterman</span>
                    </div>
                    <div class="fourth-half">
                        <img mat-card-image class="matcard-image" src="\assets\images\toggle-images\image-24.jpg">
                        <span>Art ans Craft Store</span>
                        <span>see more</span>
                    </div>
                    <div class="fifth-half">
                        <img mat-card-image class="matcard-image" src="\assets\images\toggle-images\image-25.jpg">
                        <span>Office suppliers</span>
                        <span>see more</span>
                    </div>
                    <div class="sixth-half">
                        <img mat-card-image class="matcard-image" src="\assets\images\toggle-images\image-26.jpg">
                        <span>Everyday Stationary supplies</span>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>