<div class="container">
    <div class="header">
        <p class="no-wrap"><span>Your Account</span><span>› Your Orders</span></p>
    </div>    
    <div class="sub-header">
        <h2>Your Orders</h2>
        <div class="search-bar">
            <input />
            <button>Search Orders</button>
        </div>
    </div>
    <div class="toggle-headers">
        <span>Orders</span>
        <span>Buy Again</span>
        <span>Not Yet Shipped</span>
        <span>Cancelled Orders</span>
        <span class="horizontal-line"></span>
    </div>
    <div class="orders-toggle">
        <span>3 orders placed in</span>
    </div>
</div>